**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
/.next
**/.next
/bin
/obj
**/npm-debug.log
**/.DS_Store
**/Thumbs.db
**/*.md
!README.md
**/docker-compose*
**/Dockerfile*
**/.dockerignore
**/secrets.json
**/*.db
**/*.db-shm
**/*.db-wal
**/logs
**/coverage
**/playwright-report
**/test-results
**/.turbo
**/dist
**/out
**/TestResults
**/.env
**/.env.*
