node_modules
.next
.git
.gitignore
README.md
Dockerfile
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
coverage
.nyc_output
.cache
.parcel-cache
.next
out
build
dist
.turbo
.wrangler
.vercel
.azure
test-results
playwright-report
.jest-cache
.swc