app = "memolib"
primary_region = "cdg"

[build]
  dockerfile = "Dockerfile.fly"

[env]
  NODE_ENV = "production"
  NEXT_TELEMETRY_DISABLED = "1"

[[services]]
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"
  
  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [services.tcp_checks]
    interval = 10000
    timeout = 2000
    grace_period = 5000

  [[services.http_checks]]
    interval = 10000
    timeout = 2000
    grace_period = 5000
    method = "GET"
    path = "/api/health"
    protocol = "http"
    tls_skip_verify = false
    [services.http_checks.headers]
      User-Agent = "Fly-Health-Check"

[[vm]]
  memory = "512mb"
  cpus = 1
