:root {
  /* Couleurs */
  --color-10: #ffffff;
  --color-11: #ffffff;
  --color-01: #ffffff;
  --color-background: #fafafa;
  --color-02: #ffffff;
  --color-fuschia-100: #ef5da8;
  --color-fuschia-80: #f178b6;
  --color-fuschi-60: #fcddec;
  --color-iris-100: #5d5fef;
  --color-iris-80: #7879f1;
  --color-iris-60: #a5a6f6;
  --color-03: #ffffff;
  --color-rectangle-3: #c4c4c4;
  --color-color: #d8d8d8;
  --color-04: #ffffff;
  --color-button: #359dd9;
  --color-05: #ffffff;
  --color-06: #ffffff;
  --color-07: #ffffff;
  --color-08: #ffffff;
  --color-09: #ffffff;
  --color-rectangle: #000000;
  --color-icon: #18a0fb;

  /* Espacements */


  /* Ombres */
  --shadow-hand: 0px 1px 3px rgba(0, 0, 0, 0.35);
  --shadow-background: 0px 1px 3px rgba(0, 0, 0, 0.35);
}
